<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>ListToDo</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  		<div class="collapse navbar-collapse row justify-content-md-center" id="navbarNavAltMarkup">
    		<div class="navbar-nav col-9 justify-content-md-center">
		      <a class="nav-item nav-link active" href="/">Lista de Proyectos </a>
		      <a class="nav-item nav-link active" href="/info" target="_blank">Información</a>
		      <a class="nav-item nav-link active" href="#">Cambiar Projecto</a>
		    </div>
		</div>
	</nav>

	<div class="container mt-5">
		<h3>You have selected {{project.name}}</h3>
		<form method="post" action="/changeproject/{{ project.key.id() }}/edit">
			<div class="row">
				<div class="col">
					<input type="text" class="form-control" name="expediente" placeholder="Número expediente ({{project.expediente}})">
				</div>
                <!-- Lo dejo comentado por si queremos ponerlo. Ahora mismo está para que se añada automáticamente
				<div class="col">
					<input type="text" class="form-control" name="start_date" placeholder="Fecha de inicio">
		    	</div>-->
		   	 	<div class="col">
		      		<input type="text" class="form-control" name="code" placeholder="Código ({{project.code}})">
		    	</div>
		   	</div>
			<div class="row mt-3 mb-3">
		    	<div class="col">
		      		<input type="text" class="form-control" name="place" placeholder="Lugar ({{project.place}})">
		    	</div>
		    	<div class="col">
		      		<select class="form-control" name="status">
		      			<option Selected> Revisado </option>
		      			<option> No revisado </option>
		      		</select>
		    	</div>
		  	</div>
		  	<div class="row mt-3 mb-3">
		    	<div class="col">
		      		<input id="comment" type="text" class="form-control" name="comments" placeholder="Comentario ({{project.comments}})">
		    	</div>
		  	</div>
		  	<button type="submit">Guardar proyecto</button>
		</form>
		<p>{{answer1}}</p>
	</div>
</body>
</html>